{% extends "base.html" %}
{% block title %}Docker{% endblock title %}
{% block content %}

{%if session['auth']==True%}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-7 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title clearfix">Docker</h1>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Criar Container</button>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">ID</th>
                            <th scope="col">Image</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>   
                    {% set encontrado = 'false'%}                     
                    {%for container in ctrs%}
                        {%if container.name =='flask-app' %}
                            {% set encontrado = 'true'%}
                        {%endif%}
                        <tr>
                            <td>{{container.name}}</td>
                            <td>{{container.short_id}}</td>
                            <td>{{container.image.tags[0].title()}}</td>
                            <td>{{container.status}}</td>
                            <td>
                                {%if container.status == 'running'%}
                                    <a href="/docker/stop/{{container.short_id}}" class="btn btn-warning">Parar</a>
                                {%else%}
                                    <a href="/docker/start/{{container.short_id}}" class="btn btn-primary">Iniciar</a>
                                {%endif%}    
                            </td>
                        </tr>
                    {%endfor%}
                    </tbody>
                </table> 

                
            </div>
        </div>
    </div>
    {%if encontrado =='true' %}
        <div class="alert alert-success" role="alert">ENCONTRADO</div>
    {%else%}
        <div class="alert alert-danger" role="alert">
            Container"flask-app" não foi encontrado
        </div>                    
    {%endif%}
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Novo container</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Nome:</label>
                  <input type="text" class="form-control" id="recipient-name">

                </div>
                <div>
                    <label for="recipient-name" class="col-form-label">Porta:</label>
                    <input type="text" class="form-control" id="recipient-name">                
                    <label for="recipient-name" class="col-form-label">Imagen:</label>
                    <input type="text" class="form-control" id="recipient-name">
                </div>
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Criar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>              
            </div>
          </div>
        </div>
      </div>
{%else%}
<div class="container">
    <div class="row">   
        <div class="alert alert-danger" role="alert">Falha na autenticação</div>   
    </div>
</div>
{%endif%}

{% endblock content %}