{% extends "base.html" %}
{% block title %}Gitlab{% endblock title %}
{% block content %}

{%if session['auth']==True%}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            senha: 
            <h1 class="panel-title clearfix">Gitlab</h1>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <h2>Usuários</h2>
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Usuário</th>
                            <th>Status</th>
                            <th>Admin</th>
                        </tr>
                    </thead>
                    {% for user in users%}
                    <tbody>
                        <tr>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.state}}</td>
                            <td>{{user.is_admin}}</td>
                        </tr>
                    </tbody>
                    {%endfor%} 
                    
                </table>
            </div>
            <div class="table-responsive">
                <h2>Projetos</h2>
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Nome do projeto</th>
                            <th>Link SSH</th>
                            <th>Dono</th>
                            <th>Caminho</th>
                        </tr>
                    </thead>
                    {% for projeto in projetos%}
                        <tbody>
                            <tr>
                                <td>{{projeto.name}}</td>
                                <td>{{projeto.ssh_url_to_repo}}</td>
                                <td></td>
                                <td>{{projeto.path_with_namespace}}</td>
                            </tr>
                        </tbody>
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
</div>
{%else%}
<div class="container">
    <div class="row">   
        <div class="alert alert-danger" role="alert">Falha na autenticação</div>   
    </div>
</div>
{%endif%}
{% endblock content %}