{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title clearfix">Bem vindo</h1>
                </div>
                <div class="panel-body">
                    <form action='/login' method="POST">
                    {%if session['auth'] %}
                        <div class="alert alert-success" role="alert">Login efetuado</div>
                    {%else%}
                        <div class="alert alert-danger" role="alert">Falha na autenticação</div>                    
                    

                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    {%endif%}
                    </form>

                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Cadastrar usuario</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Novo container</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Nome:</label>
              <input type="text" class="form-control" id="recipient-name">

            </div>
            <div>
                <label for="recipient-name" class="col-form-label">Email:</label>
                <input type="text" class="form-control" id="recipient-name">                
                <label for="recipient-name" class="col-form-label">Senha:</label>
                <input type="text" class="form-control" id="recipient-name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Cadastrar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>              
        </div>
      </div>
    </div>
  </div>
{% endblock content %}