{% extends "base.html" %}
{% block title %}Jenkins{% endblock title %}
{% block content %}

{%if session['auth']==True%}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title clearfix">Jenkins</h1>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Job</th>
                            <th>Status</th>
                            <th>Ultima vez</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs%}
                        <tr>
                            <td>{{job.fullname}}</td>
                            <td>
                                <img src="/static/images/{{job.color}}.png" alt="Icon">                            </td>
                            <td>job.</td>
                            <td>
                                <a href="/jenkins/build/{{job.name}}" class="glyphicon glyphicon-repeat"></a>
                                <a href="/jenkins/update/{{job.name}}" class="glyphicon glyphicon-pencil"></a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%else%}
<div class="container">
    <div class="row">   
        <div class="alert alert-danger" role="alert">Falha na autenticação</div>   
    </div>
</div>
{%endif%}
{% endblock content %}