
 <!-- Inicio bloco-->
 {%for container in ctrs%}
 <div class="panel-body">
     <h1>{{container.name}}</h1>
     <ul class="list-group">
         <li class="list-group-item"><b><i class="glyphicon glyphicon-barcode"></i> ID:</b> {{container.short_id}}</li>
         <li class="list-group-item"><b><i class="glyphicon glyphicon-film"></i> Imagem:</b> {{container.image}}</li>
         <li class="list-group-item"><b><i class="glyphicon glyphicon-stats"></i> Status:</b> {{container.status}}</li>
     </ul>
     <div class="row">
         <div class="col-sm-12 text-right">
             {%if container.status == 'running'%}
                 <a href="/docker/stop/{{container.short_id}}" class="btn btn-warning">Parar</a>
             {%else%}
                 <a href="/docker/start/{{container.short_id}}" class="btn btn-primary">Iniciar</a>
             {%endif%}
         </div>
     </div>
     <span class="d-block p-2 bg-primary text-white">{{result}}</span>
     
     
 </div>
<!--End bloco -->    
{%endfor%}